<h3>Already have an account? <%= link_to "Sign In!", managers_sign_in_path %></h3>

<%= form_for @manager do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.submit %>
<% end %>
