<%= render @post %>
<% if current_user %>
  <% if @post.users.find_by(username: current_user.username) %>
      <h3>Your bid</h3>
      <%= render @post.bids.find_by(user_id: session[:user_id]) %>
  <% else %>
    <h3>Apply</h3>
    <%= render 'bids/form' %>
  <% end %>
<% else %>
  <%= link_to "Update Post", edit_post_path(@post.id) %> <br>
  <%= link_to "Delete Post", post_path(@post.id), method: :delete %>
  <h3>Bids for this position</h3>
  <%= render @post.bids %>
<% end %>
