<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= flash[:notice] %>
      <%= link_to("Sign out", sign_out_path) if (session[:user]||session[:manager])  %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      jsm
    </footer>
  </body>
</html>
