<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= "manager: #{session[:manager].inspect}" %><br>
      <%= "user: #{session[:user].inspect}" %><br>
      <%= flash[:notice] %>
      <nav>
      <% if (session[:user]||session[:manager]) %>
        <%= link_to("Sign out", sign_out_path)  %>
        <%= link_to("Home", (session[:user] ? user_path(session[:user]['id']) : manager_path(session[:manager]['id']))) %>
      <% end %>
      </nav>

    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      jsm
    </footer>
  </body>
</html>
